@import 'variables-light'; // coloring for light-colored version of the page
@import 'typography'; // fontawsome, normalize, chosen fonts

// own imports, my own files
@import '../../shared/scss/base';
@import 'nav';
@import 'report';
@import 'gallery';
@import 'responsive-small';

html {
    background-color: $html-color;
    color: $font-color;
}

body {
    background-color: $body-color;

    a {
        text-decoration: underline;
        color: $font-color;
    }

    a:hover {
        background-color: $accent-color;
    }
}

.representing-me {
    width: 30%;
    margin-top: 1em;
}

/* Header */

.site-header {
    background-color: $body-color;

    a,
    a:visited {
        color: $font-color;
    }
}

/* Main */

.main {
    h1 {
        display: inline-block;
        border-bottom: 8px solid $accent-color;
    }
}

/* Footer */

.site-footer {
    background: $footer-color;
    color: $body-color;

    a {
        color: $body-color;
    }

    a:hover {
        background-color: $footer-color;
        color: $accent-color;
    }
}
