@import 'variables-dark'; // coloring for dark mode
@import 'typography'; // fontawsome, normalize, chosen fonts

// own imports, my own files
@import '../../shared/scss/base';
@import 'nav';
@import 'report';
@import 'gallery';
@import 'responsive-small';

* {
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

html {
    background-color: $html-color;
    color: $font-color;
}

body {
    background-color: $body-color;

    a {
        color: $font-color;
        text-decoration: underline;
    }

    a:hover {
        background-color: $accent-color;
    }
}

.representing-me {
    filter: grayscale(70%);
    width: 30%;
    margin-top: 1em;
}

/* Header */

.site-header {
    background-color: $body-color;

    a,
    a:visited {
        color: $font-color;
    }

    a:hover {
        color: $body-color;
    }
}

/* Main */

.main {
    h1 {
        display: inline-block;
        border-bottom: 8px solid $accent-color;
    }
}

/* Footer */

.site-footer {
    background: $footer-color;
    color: $footer-text;

    a {
        color: $footer-text;
    }

    a:hover {
        background-color: $footer-color;
        color: $accent-color;
    }
}
