/* Coloring of the page */
// monocromatic grayscale with help from colorhexa.com and orange as an accent color
$html-color: #f1f1f1;
$body-color: #fafafa;
$footer-color: #2c2c2c;
$font-color: #191919;
$accent-color: #f79963;
$box-link: #191919;
